<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock title %}</title>
</head>
<body>

<h1>
{% if user.is_authenticated %}
{% load account %}
{% user_display user %} |<a href="/accounts/logout">Выйти</a>
{% else %}
<a href="/accounts/login/">Войти</a>
{% endif %}
    <a href="{% url 'home' %}">Новости</a>
    {% if is_not_author %}
    <a href="{% url 'create' %}">Стать автором</a>
    {% else %}
    <a href="{% url 'create' %}">Добавить пост</a>
    {% endif %}
</h1>
<br>
{% block content %}
{% endblock content %}
</body>
</html>