{% extends 'NewsPaper/default.html' %}

{% block title %}Новости{% endblock title %}

{% load custom_filters %}

{% block content %}
<h2>Количество новостей: {{ news|length }}</h2>
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Текст
        </td>
    </tr>
    {% for n in news %}
    <tr>
        <td>
            {{ n.head|censor }}
        </td>
        <td>
            {{ n.datetime|date:'d-m-y h:m'|censor }}
        </td>
        <td>
            {{ n.text|truncatechars:50|censor }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}

