{% extends 'newspaper/default.html' %}
{% load i18n %}
{% load tz %}
{% load custom_filters %}

{% block title %}{% trans 'Новости' %}{% endblock title %}

{% block content %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}
<h2>{% trans 'Количество новостей' %}: {{ filter.qs|length }}</h2>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="{% trans 'Найти' %}">
</form>
<br>
{{ request.GET }}
<table>
    <tr>
        <td>
            {% trans 'Заголовок' %}
        </td>
        <td>
            {% trans 'Дата публикации' %}
        </td>
        <td>
            {% trans 'Текст' %}
        </td>
        <td>
            {% trans 'Автор' %}
        </td>
    </tr>
    {% for n in news %}
    <tr>
        {% filter censor %}
        <td>
            <a href="{{ n.id }}">{{ n.head }}</a>
        </td>
        <td>
            {{ n.datetime|date:'d-m-y H:i' }}
        </td>
        <td>
            {{ n.text|truncatechars:50 }}
        </td>
        <td>
            {{ n.author.user.username }}
        </td>
        {% endfilter %}
    </tr>
    {% endfor %}
</table>
<br>

{% include 'paginator.html' %}

{% endblock content %}

