{% extends 'NewsPaper/default.html' %}

{% block title %}Новости{% endblock title %}

{% load custom_filters %}

{% block content %}
<h2>Количество новостей: {{ filter.qs|length }}</h2>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
<br>
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Текст
        </td>
        <td>
            Автор
        </td>
    </tr>
    {% for n in news %}
    <tr>
        <td>
            <a href="{{ n.id }}">{{ n.head|censor }}</a>
        </td>
        <td>
            {{ n.datetime|date:'d-m-y h:m'|censor }}
        </td>
        <td>
            {{ n.text|truncatechars:50|censor }}
        </td>
        <td>
            {{ n.author.polzovatel.username|censor }}
        </td>
    </tr>
    {% endfor %}
</table>
<br>

{% include 'NewsPaper/pagination.html' %}

{% endblock content %}

