{% extends 'newspaper/default.html' %}
{% load i18n %}
{% block title %}{% trans 'Новости' %}{% endblock title %}

{% load custom_filters %}

{% block content %}
<h2>{% trans 'Количество новостей' %}: {{ filter.qs|length }}</h2>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="{% trans 'Найти' %}">
</form>
<br>
<table>
    <tr>
        <td>
            {% trans 'Заголовок' %}
        </td>
        <td>
            {% trans 'Дата публикации' %}
        </td>
        <td>
            {% trans 'Текст' %}
        </td>
        <td>
            {% trans 'Автор' %}
        </td>
    </tr>
    {% for n in news %}
    <tr>
        {% filter censor %}
        <td>
            <a href="{{ n.id }}">{{ n.head }}</a>
        </td>
        <td>
            {{ n.datetime|date:'d-m-y H:i' }}
        </td>
        <td>
            {{ n.text|truncatechars:50 }}
        </td>
        <td>
            {{ n.author.user.username }}
        </td>
        {% endfilter %}
    </tr>
    {% endfor %}
</table>
<br>

{% include 'paginator.html' %}

{% endblock content %}

