{% if is_paginated %}
{% load i18n %}
{% load custom_tags %}
{% get_filter_params request as params %}
    {% if page_obj.has_previous %}
    <a href="?{% for param in params %}{{ param }}{% endfor %}page=1">{% trans 'Первая' %}</a>
    <a href="?{% for param in params %}{{ param }}{% endfor %}page={{ page_obj.previous_page_number }}">{% trans 'Предыдущая' %}</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            {{ num }}
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?{% for param in params %}{{ param }}{% endfor %}page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?{% for param in params %}{{ param }}{% endfor %}page={{ page_obj.next_page_number }}">{% trans 'Следующая' %}</a>
    <a href="?{% for param in params %}{{ param }}{% endfor %}page={{ page_obj.paginator.num_pages }}">{% trans 'Последняя' %}</a>
    {% endif %}
{% endif %}